<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYTabBarzidingyi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E9A61B1D6D73ED0006C665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E9A6341D6D73EE0006C665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E9A63F1D6D73EE0006C665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
